.a-hover{
    transition: all 200ms ease-in;
}

.a-hover:hover {
    color: black !important;
    background-color: #fff;
}

.img-bg {
    background-image: url(./img/bg.jpg);
    min-height: 60vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

@media screen and (min-width:1000px) {

    .img-bg {
        background-position: 50% 100%;
    }
}

.img-bg h1 {
    opacity: 0.9;
    font-size: 50px;
}

.img-bg h1:first-child {
    font-size: 90px;
}